---

---
@charset "utf-8";



// Our variables
$base-font-family: 'Open Sans', serif;
$title-font-family: 'Oswald', sans-serif;
$base-line-height: 1.5;

$base-font-weight: 300;
$title-font-weight: 700;

$spacing-unit:     25px;

$text-color:       #333;
$background-color: #fdfdfd;
$brand-color:      #87b605;

$grey-color:       #828282;
$grey-color-middle:darken(#828282, 10%);
$grey-color-light: lighten($grey-color, 20%);
$grey-color-dark:  darken($grey-color, 20%);

// Font sizes
$base-font-size:   16px;
$summary-font-size: 20px;
$title-font-size: 42px;
$small-font-size:  $base-font-size * 0.875;
$shrinker : 0.75;

// Width of the content area
$content-width:    1024px - 2 * $spacing-unit;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
