---
layout: page
title: Propositions
alt: Propositions déposées au Grand Conseil
summary: Vous trouverez ci-dessous la plupart des questions posées et des propositions faites au Grand Conseil depuis six ans.
sitemap:
    lastmod: 2014-12-17
    priority: 1
    changefreq: 'monthly'
---

<h3>Motions et postulats</h3>
<pre><code>{% for motion in site.data.motions.motions %}{{ motion.id }} {{ motion.title }} [<a href='/files/{{ motion.id }}.pdf'>{{ motion.id }}</a>]<br>{% endfor %}</code></pre>

<h3>Questions</h3>
<pre><code>{% for question in site.data.questions.questions %}{{ question.id }} {{ question.title }} [<a href='/files/{{ question.id }}.pdf'>{{ question.id }}</a>]<br>{% endfor %}</code></pre>

<h3>Interpellations</h3>
<pre><code>{% for interpellation in site.data.interpellations.interpellations %}{{ interpellation.id }} {{ interpellation.title }} [<a href="/files/{{ interpellation.id }}.pdf">{{ interpellation.id }}</a>]<br>{% endfor %}</code></pre>

<h3>Recommandations</h3>
<pre><code>{% for recommandation in site.data.recommandations.recommandations %}{{ recommandation.id }} {{ recommandation.title }} [<a href="/files/{{ recommandation.id }}.pdf">{{ recommandation.id }}</a>]<br>{% endfor %}</code></pre>

<h3>Projets de loi</h3>
<pre><code>{% for ploi in site.data.plois.plois %}{{ ploi.id }} {{ ploi.title }} [<a href="/files/{{ ploi.id }}.pdf">{{ ploi.id }}</a>]<br>{% endfor %}</code></pre>

