body {
    font-family: 'PT Sans', sans-serif;
    color: #000;
    letter-spacing: 0.05em;
    font-weight: 400;
}

@media screen and (min-width: 768px) {

    header {
        position: relative;
        height: 60vh;
        background-color: #ff7b00;
    }

    .header-content {
        position: absolute;
        bottom: 30px;
        left: 30px;
        max-width: 50vw;
    }

    .header-content h1 {
        font-family: 'PT Serif', serif;
        font-size: 4.5em;
        font-weight: 700;
    }

    .header-content p {
        font-size: 1.75em;
        font-weight: 700;
        letter-spacing: 0.1em;
    }

}

@media screen and (max-width: 768px) {

    header {
        position: relative;
        height: 60vh;
        background-color: #ff7b00;
    }

    .header-content {
        position: absolute;
        bottom: 10px;
        left: 30px;
        max-width: 50vw;
    }

    .header-content h1 {
        font-family: 'PT Serif', serif;
        font-size: 3.5em;
        font-weight: 700;
        letter-spacing: 0.12em;
    }

    .header-content p {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.5em;
        margin-bottom: 1.5em;
        letter-spacing: 0.08em;
    }

}

section {
    position: relative;
}

.section-content {
    position: absolute;
    top: 30px;
    left: 30px;
}

.navbar {
    margin-bottom: 0;
}

.navbar-inverse {
    border: none;
    border-radius: 0;
    background-color: #ff7b00;
}

.navbar-inverse .navbar-nav > li > a {
    color: #000;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #4f4f4f;
    text-decoration: underline;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #ff7b00;
}

.navbar-inverse .navbar-toggle {
    border: none;
}

h2 {
    font-size: 1.25em;
    font-weight: 700;
}

h3 {
    font-size: 1.25em;
    font-weight: 700;
}

.date-text {
    font-size: 0.75em;
    color: #4f4f4f;
}

p{
    font-size: 16px;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}