* {
    color: #000;
}

.top-box {
    height: 30vh;
    background-color: #ff7b00;
}

.navbar {
    margin-bottom: 0;
}

.navbar-inverse {
    border: none;
    border-radius: 0;
    background-color: #ff7b00;
}

.navbar-inverse .navbar-nav > li > a {
    color: #000;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #4f4f4f;
    text-decoration: underline;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #ff7b00;
}
.navbar-inverse .navbar-toggle {
    border: none;
}