<!DOCTYPE html>
<html lang="fr">

  {% include head.html %}

  <body onload="initialize">
  <script> (à la candidature)
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '359228180905378',
        xfbml      : true,
        version    : 'v2.2'
      });
    };

    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  <script>
    //Google Analytics script
  </script>

  </body>

</html>
